<footer class="site-footer">
    <div class="inner">
        <div class="sf-social-networks">
            {% for social in meta.social %}
                <a href="{{ social.url }}" title="{{ social.title }}" {% if social.url starts with "skype" %}target="_self"{% else %}target="_blank"{% endif %}>
                    <i class="fa fa-{{ social.icon }}"></i>
                </a>
            {% endfor %}
        </div>
        <p class="sf-copyright">© 2007 - {{ "now"|date("Y") }} | www.erwan-chedaleux.fr</p>
    </div>
</footer>
