<nav class="site-navigation">
    <ul class="sn-list">
        <li class="sn-itm">
            <a href="/" class="sn-lnk active">Accueil</a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk">à propos</a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk">Références</a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk">Contact</a>
        </li>
    </ul>
</nav>
