<nav class="site-navigation">
    <ul class="sn-list">
        <li class="sn-itm" data-menuanchor="home">
            <a href="#home" class="sn-lnk active">Accueil</a>
        </li>
        <li class="sn-itm" data-menuanchor="about-me">
            <a href="#about-me" class="sn-lnk">à propos</a>
        </li>
        <li class="sn-itm" data-menuanchor="references">
            <a href="#references" class="sn-lnk">Références</a>
        </li>
        <li class="sn-itm" data-menuanchor="contact">
            <a href="#contact" class="sn-lnk">Contact</a>
        </li>
    </ul>
</nav>
