/***************************************/

.sc-about-me
    position                            relative
    width                               100%
    height                              100vh
    overflow                            hidden

.scam-title-1
    margin-top                          60px
    margin-bottom                       15px
    font-size                           3.5rem
    text-transform                      uppercase
    text-align                          center
    color                               $color3
    font-l()

.scam-content
    height                              100%
    background-color                    $color4

    &:before
        content                         ""
        display                         block
        position                        absolute
        top                             57px
        left                            0
        width                           0
        height                          0
        border-top                      140px solid $color2
        border-left                     100vw solid transparent

.scam-photo
    position                            relative
    float                               right
    border-radius                       100%
    overflow                            hidden
    width                               200px
    height                              @width
    border                              15px solid $color4

.scam-img
    width                               100%
    height                              @width

.scam-text
    position                            absolute
    top                                 50%
    left                                @top
    margin-top                          -50px
    padding-right                       250px
    transform                           translate( -50%, -50% )
    width                               calc( 960px - 250px )

.scam-title-2
    margin-top                          140px
    margin-bottom                       20px
    color                               $color2
    font-size                           2.5rem
    font-l()

.scam-paragraph
    color                               $color2
    font-size                           1.4rem
    line-height                         1.5
    font-l()

    .lnk
        position                        relative
        display                         inline-block
        font-size                       1.6rem
        color                           $color2
        font-sb()
        transition2()

        &:after
            content                     ""
            display                     block
            position                    absolute
            width                       0
            height                      1px
            background-color            $color2
            left                        50%
            transform                   translateX( -50% )
            transition2()

        &:hover
            color                       $color5

            &:after
                background-color        $color5
                width                   100%

.scam-btn
    position                            absolute
    bottom                              -90px
    left                                50%
    transform                           translateX( -50% )
    width                               290px
    margin                              0 auto

    .fa-file-pdf-o
        margin-right                    20px

.scam-arrow
    position                            absolute
    z-index                             2
    bottom                              50px
    left                                50%
    width                               40px
    height                              40px
    border-radius                       100%
    background-color                    $color2
    transform                           translateX( -50% )
    cursor                              pointer

    .fa-angle-down
        position                        absolute
        top                             50%
        left                            50%
        margin-top                      1px
        color                           $color4
        font-size                       2.5rem
        transform                       translate( -50%, -50% )


/* Mediaqueries Mobile (639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .scam-title-1
        margin-top                      20px
        margin-bottom                   55px
        font-size                       2.6rem

    .scam-content
        &:before
            top                         52px
            border-top                  50px solid $color2

    .scam-photo
        float                           none
        width                           100px
        height                          @width
        margin                          -50px auto 0 auto

    .scam-text
        position                        relative
        top                             0
        left                            @top
        margin-top                      0
        padding-right                   0
        transform                       inherit
        width                           100%

    .scam-title-2
        margin-top                      0
        margin-bottom                   0
        font-size                       2rem

    .scam-paragraph
        font-size                       1.1rem

        .lnk
            font-size                   1.1rem

    .scam-btn
        bottom                           -70px
        font-size                        1.2rem
        width                            80%

    .scam-arrow
        display                         none
