/***************************************/

.sc-contact
    position                            relative
    width                               100%
    height                              100vh
    overflow                            hidden

    &:before
        content                         ""
        display                         block
        position                        absolute
        z-index                         1
        top                             0
        left                            0
        width                           0
        height                          0
        border-top                      140px solid $color3
        border-left                     100vw solid transparent

.scc-content
    height                              100%

    &:before
        content                         ""
        display                         block
        position                        absolute
        top                             0
        left                            0
        width                           50%
        height                          100%
        background-color                $color5

.scc-infos
    position                            relative
    float                               left
    width                               50%
    height                              100vh
    overflow                            hidden

.scc-text
    position                            absolute
    top                                 50%
    left                                @top
    transform                           translate( -50%, -50% )
    width                               285px

.scc-title-1
    margin-bottom                       70px
    font-size                           3.6rem
    color                               $color2
    text-align                          center
    text-transform                      uppercase
    font-l()

.scc-paragraph
    font-size                           1.8rem
    line-height                         1.5
    color                               $color2
    text-align                          center
    font-l()

    .highlight
        font-b()

.scc-email
    width                               263px
    height                              20px

.scc-phone
    width                               131px
    height                              14px

.scc-form
    position                            relative
    float                               right
    width                               50%
    height                              100vh
    overflow                            hidden

.contact-form
    position                            absolute
    top                                 50%
    left                                @top
    transform                           translate( -50%, -50% )
    width                               100%
    padding-left                        80px
    box-sizing                          border-box

    .fields
        position                        relative
        display                         block
        height                          45px
        margin-bottom                   30px

    .labels
        color                           $color5
        font-size                       1.6rem
        font-l()

    .labels-placeholder
        position                        absolute
        top                             50%
        left                            0
        transform                       translateY( -50% )

    .inputs
        width                           100%
        padding                         13px 0
        background-color                $color2
        border                          none
        border-bottom                   2px solid $color5

    .input-textarea
        padding                         13px 0 0 0
        resize                          vertical
        max-height                      150px

    .field-submit
        .btns
            width                       100%
            cursor                      pointer

.scc-arrow-1
.scc-arrow-2
    position                            absolute
    top                                 50%
    transform                           translateY( -50% )

.scc-arrow-1
    right                               -52px

    .fa-arrow-circle-right
        font-size                       13rem
        color                           $color2

.scc-arrow-2
    left                                -60px

    .fa-arrow-circle-right
        font-size                       13rem
        color                           $color5


/* Mediaqueries Mobile (639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .sc-contact
        height                          100%

        &:before
            border-top                  50px solid $color3

    .scc-content
        &:before
            content                         ""
            display                         block
            position                        absolute
            top                             0
            left                            0
            width                           100%
            height                          50%
            background-color                $color5

    .scc-infos
        float                               none
        width                               100%


    .scc-title-1
        margin-bottom                       30px
        font-size                           2.6rem

    .scc-form
        float                               none
        width                               100%

    .contact-form
        padding-left                        0

    .scc-arrow-1
    .scc-arrow-2
        position                            absolute
        top                                 inherit
        left                                50%
        right                               inherit
        transform                           translateX( -50% ) rotate( 90deg )

    .scc-arrow-1
        bottom                              -62px

    .scc-arrow-2
        top                                 -68px
