/***************************************/

.sc-home
    position                            relative
    width                               100%
    height                              100vh
    overflow                            hidden
    black-transparent-gradient()

.sch-background
    position                            relative
    top                                 0
    left                                0
    width                               100%
    height                              100%

    &:before
        content                         ""
        display                         block
        position                        absolute
        z-index                         1
        bottom                          50px
        left                            0
        width                           0
        height                          0
        border-bottom                   200px solid $color2
        border-left                     100vw solid transparent

    &:after
        content                         ""
        display                         block
        position                        absolute
        bottom                          0
        left                            0
        width                           100vw
        height                          50px
        background-color                $color2

.schb-img
    position                            absolute
    top                                 0
    left                                50%
    transform                           translateX( -50% )
    min-width                           1280px
    width                               100%

.sch-content
    position                            absolute
    z-index                             1
    top                                 50%
    left                                50%
    transform                           translate( -50%, -50% )
    margin-top                          -5%
    width                               60%
    max-width                           720px

.sch-title-1
    display                             block
    margin-bottom                       45px
    font-size                           4.5rem
    color                               $color2
    text-align                          center
    opacity                             0
    font-eb()

.sch-text
    display                             block
    font-size                           1.6rem
    color                               $color2
    text-align                          center
    line-height                         1.7
    font-l()

    .highlight
        font-b()

    .lnk
        position                        relative
        display                         inline-block
        font-size                       1.6rem
        color                           $color2
        font-sb()
        transition2()

        &:after
            content                     ""
            display                     block
            position                    absolute
            width                       0
            height                      1px
            background-color            $color2
            left                        50%
            transform                   translateX( -50% )
            transition2()

        &:hover
            color                       $color5

            &:after
                background-color        $color5
                width                   100%

.sch-social-networks
    display                             block
    margin-top                          45px

.sch-list
    display                             block
    text-align                          center

.sch-itm
    display                             inline-block

.sch-lnk
    display                             block
    margin                              0 5px
    color                               $color2
    font-size                           2.5rem
    transition2()

    &:hover
        color                           $color5

.sch-arrow
    position                            absolute
    z-index                             2
    bottom                              50px
    left                                50%
    width                               40px
    height                              40px
    border-radius                       100%
    background-color                    $color3
    transform                           translateX( -50% )
    cursor                              pointer

    .fa-angle-down
        position                        absolute
        top                             50%
        left                            50%
        margin-top                      1px
        color                           $color2
        font-size                       2.5rem
        transform                       translate( -50%, -50% )

.typed-cursor
	opacity                             1
	animation                           blink 0.7s infinite

.typed-fade-out
    opacity                             0
    animation                           0
    transition                          opacity .25s

@keyframes blink {
    0% {
        opacity                         1
    }
	50% {
        opacity                         0
    }
	100% {
        opacity                         1
    }
}


/* Mediaqueries Mobile (639px) */
@media all and ( max-width: $smallScreenContentMinWidth )

    .sch-content
        width                           83%
        margin-top                      -50px

    .sch-title-1
        font-size                       2.7rem
        line-height                     1.3
        margin-bottom                   35px

        .highlight
            display                     block

    .sch-text
        font-size                       1.2rem
        line-height                     1.5

        .lnk
            font-size                   1.2rem

    .sch-background
        &:before
            border-bottom               60px solid $color2

    .sch-social-networks
        margin-top                      35px

    .sch-arrow
        bottom                          20px
