$color1                                 = #000000
$color2                                 = #ffffff
$color3                                 = #1f7c9a
$color4                                 = #115c74
$color5                                 = #f59434
$color6                                 = #cb7d2a
$color7                                 = #939393

$errorColor                             = #cf4343
$successColor                           = #5cb13e

$artColor                               = $color1
