$color1                                 = #000000
$color2                                 = #ffffff
$color3                                 = #1f7c9a
$color4                                 = #115c74
$color5                                 = #f59434
$color6                                 = #cb7d2a
$color7                                 = #939393
$color8                                 = #212121

$errorColor                             = #cf4343
$successColor                           = #3c763d
$backgroundSuccessColor                 = #DFF0D8

$artColor                               = $color1
