dl,
dt,
dd,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}
input[ type="checkbox"],
input[ type="radio"] {
  width: 13px;
  height: 13px;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  outline: none;
}
a {
  color: #000;
}
a,
a:hover {
  text-decoration: none;
}
legend {
  color: #000;
}
.btns {
  display: inline-block;
  padding: 10px 25px;
  border: none;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  font-weight: 700;
  transition: all 0.2s cubic-bezier(0.2, 1, 0.2, 1);
}
.btn-1 {
  background-color: #f59434;
  color: #fff;
}
.btn-1:hover {
  background-color: #cb7d2a;
}
.btn-2 {
  background-color: #115c74;
  color: #fff;
  border: 2px solid #115c74;
}
.btn-2:hover {
  background-color: #1f7c9a;
}
.btn-2.active {
  background-color: #1f7c9a;
  border-color: #fff;
}
.site-footer {
  background-color: #212121;
  padding: 45px 0;
}
.sf-social-networks {
  display: block;
  padding: 15px 0;
  text-align: center;
}
.sf-lnk {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-size: 2.3rem;
  transition: all 0.25s ease;
}
.sf-lnk:hover {
  color: #1f7c9a;
}
.sf-copyright {
  padding: 15px 0;
  color: #fff;
  text-align: center;
}
.sc-about-me {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.scam-title-1 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #1f7c9a;
  font-weight: 300;
}
.scam-content {
  height: 100%;
  background-color: #115c74;
}
.scam-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 113px;
  left: 0;
  width: 0;
  height: 0;
  border-top: 140px solid #fff;
  border-left: 100vw solid transparent;
}
.scam-photo {
  position: relative;
  float: right;
  border-radius: 100%;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 15px solid #115c74;
}
.scam-img {
  width: 100%;
  height: 100%;
}
.scam-text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  padding-right: 250px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(960px - 250px);
}
.scam-title-2 {
  margin-top: 140px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
}
.scam-paragraph {
  color: #fff;
  font-size: 1.4rem;
  line-height: 1.5;
  font-weight: 300;
}
.scam-paragraph .lnk {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
  transition: all 0.25s ease;
}
.scam-paragraph .lnk:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.25s ease;
}
.scam-paragraph .lnk:hover {
  color: #f59434;
}
.scam-paragraph .lnk:hover:after {
  background-color: #f59434;
  width: 100%;
}
.scam-btn {
  position: absolute;
  bottom: -90px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 290px;
  margin: 0 auto;
}
.scam-btn .fa-file-pdf-o {
  margin-right: 20px;
}
.scam-arrow {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.scam-arrow .fa-angle-down {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1px;
  color: #115c74;
  font-size: 2.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (max-width: 639px) {
  .scam-title-1 {
    margin-top: 20px;
    margin-bottom: 55px;
    font-size: 2.6rem;
  }
  .scam-content:before {
    top: 100px;
    border-top: 50px solid #fff;
  }
  .scam-photo {
    float: none;
    width: 100px;
    height: 100px;
    margin: -50px auto 0 auto;
  }
  .scam-text {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 0;
    padding-right: 0;
    -webkit-transform: inherit;
            transform: inherit;
    width: 100%;
  }
  .scam-title-2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
  }
  .scam-paragraph {
    font-size: 1.1rem;
  }
  .scam-paragraph .lnk {
    font-size: 1.1rem;
  }
  .scam-btn {
    bottom: -70px;
    font-size: 1.2rem;
  }
  .scam-arrow {
    display: none;
  }
}
.sc-references {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1f7c9a;
}
.scr-title-1 {
  margin-top: 60px;
  margin-bottom: 15px;
  font-size: 3.5rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 300;
}
.scr-content {
  height: 100%;
  padding-bottom: 110px;
}
.scr-filters {
  width: 100%;
  margin-bottom: 40px;
}
.scrf-list {
  display: block;
  text-align: center;
}
.scrf-itm {
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.scrf-itm .btns {
  font-size: 1.4rem;
  text-transform: none;
  width: 100%;
  cursor: pointer;
  font-weight: 300;
}
.scr-shuffle {
  width: 100%;
}
.scr-shuffle:before,
.scr-shuffle:after {
  content: "";
  display: table;
}
.scr-shuffle:after {
  clear: both;
}
.scr-itm {
  position: relative;
  float: left;
  width: 23.5%;
  margin: 10px 1% 40px 1%;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.3);
  background-color: #fff;
  transition: all 0.25s ease;
}
.scr-itm:nth-child(4n+1) {
  margin-left: 0;
}
.scr-itm:nth-child(4n) {
  margin-right: 0;
}
.scr-itm:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  box-shadow: 0 6px 20px 0 rgba(0,0,0,0.5);
}
.scr-lnk {
  display: block;
}
.scr-background {
  display: block;
  width: 100%;
  overflow: hidden;
}
.scr-img {
  display: block;
  width: 100%;
}
.scr-caption {
  position: absolute;
  display: block;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
}
.scr-arrow {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}
.scr-arrow .fa-angle-down {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 1px;
  color: #1f7c9a;
  font-size: 2.5rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sc-contact {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.sc-contact:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 140px solid #1f7c9a;
  border-left: 100vw solid transparent;
}
.scc-content {
  height: 100%;
}
.scc-content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #f59434;
}
.scc-infos {
  position: relative;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.scc-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 285px;
}
.scc-title-1 {
  margin-bottom: 70px;
  font-size: 3.6rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
}
.scc-paragraph {
  font-size: 1.8rem;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.scc-paragraph .highlight {
  font-weight: 700;
}
.scc-email {
  width: 263px;
  height: 20px;
}
.scc-phone {
  width: 131px;
  height: 14px;
}
.scc-form {
  position: relative;
  float: right;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 80px;
  box-sizing: border-box;
}
.contact-form .fields {
  position: relative;
  display: block;
  height: 45px;
  margin-bottom: 30px;
}
.contact-form .labels {
  color: #f59434;
  font-size: 1.6rem;
  font-weight: 300;
}
.contact-form .labels-placeholder {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.contact-form .inputs {
  width: 100%;
  padding: 13px 0;
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #f59434;
}
.contact-form .input-textarea {
  padding: 13px 0 0 0;
  resize: vertical;
  max-height: 150px;
}
.contact-form .field-submit .btns {
  width: 100%;
  cursor: pointer;
}
.scc-arrow-1,
.scc-arrow-2 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.scc-arrow-1 {
  right: -52px;
}
.scc-arrow-1 .fa-arrow-circle-right {
  font-size: 13rem;
  color: #fff;
}
.scc-arrow-2 {
  left: -60px;
}
.scc-arrow-2 .fa-arrow-circle-right {
  font-size: 13rem;
  color: #f59434;
}
