/***************************************/

.site-footer
    background-color                    $color8
    padding                             45px 0

.sf-social-networks
    display                             block
    padding                             15px 0
    text-align                          center

.sf-lnk
    display                             inline-block
    margin                              0 5px
    color                               $color2
    font-size                           2.3rem
    transition2()

    &:hover
        color                           $color3

.sf-copyright
    padding                             15px 0
    color                               $color2
    text-align                          center
