/***************************************/

.site-navigation
    width                               100%

.sn-list
    display                             table

.sn-itm
    display                             table-cell
    width                               1%
    text-align                          center

.sn-lnk
    text-transform                      uppercase
    color                               $color7
    transition2()

    &.active
        color                           $color2

    &:hover
        color                           $color2
